.duty-list-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}
  
.duty-list .ant-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.ant-modal {
    border-radius: 8px;
}

.ant-btn-primary {
    background-color: #333;
    border-color: #333;
}